<html>
<head>
	<meta charset="UTF-8">
	<title>Анализ данных</title>
</head>
<body>
	<h1>Сервис анализа данных</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить</button>
  </form>
 </form>
</body>
</html>